.postsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnailContainer {
  width: 100%;
  padding-bottom: 10%;
}

.thumbnailImage {
  width: 100%;
}

.thumbnailLink {
  text-decoration: none;
  color: #353535;
  text-align: center;
}

@media (min-width: 425px) {
  .thumbnailContainer {
    width:47%;
    padding-bottom: 6%;
  }
}

@media (min-width: 768px) {
  .thumbnailContainer {
    width:31.3%;
    padding-bottom: 3%;
  }  
}